<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <context-param>
        <param-name>WebsiteTitle</param-name>
        <param-value>Flashwiz</param-value>
    </context-param>   

    <context-param>
        <param-name>QuizDuration</param-name>
        <param-value>5</param-value>
    </context-param>
    <context-param>
        <param-name>QuestionRandomnenss</param-name>
        <param-value>0</param-value>
    </context-param>
    <servlet-mapping>
        <servlet-name>SaveAdminSettingsServlet</servlet-name>
        <url-pattern>/SaveAdminSettingsServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>loginServlet</servlet-class>
        <init-param>
            <param-name>adminUsername</param-name>
            <param-value>admin123</param-value>
            <!-- Set username here -->
        </init-param>
        <init-param>
            <param-name>adminPassword</param-name>
            <param-value>adminpassword</param-value>
            <!-- Set password here -->
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>SaveUserSettingsServlet</servlet-name>
        <servlet-class>SaveUserSettingsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveAdminSettingsServlet</servlet-name>
        <servlet-class>SaveAdminSettingsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CreateFlashcardServlet</servlet-name>
        <servlet-class>CreateFlashcardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFlashcardServlet</servlet-name>
        <servlet-class>DeleteFlashcardServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateFlashcardServlet</servlet-name>
        <url-pattern>/CreateFlashcard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFlashcardServlet</servlet-name>
        <url-pattern>/DeleteFlashcard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveUserSettingsServlet</servlet-name>
        <url-pattern>/SaveUserSettingsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveAdminSettingsServlet</servlet-name>
        <url-pattern>/SaveAdminSettings</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>401</error-code> 
        <location>/authenticationError.jsp</location>
    </error-page>
    <error-page>
        <error-code>400</error-code> 
        <location>/nullValueError.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code> 
        <location>/error404.jsp</location>
    </error-page>
</web-app>
