/* header and footer */
#header,
#footer {
    background: linear-gradient(to right, #003f67, #1b81c2);
    height: 5vw;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* index.jsp */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

#container {
    display: grid;
    grid-template-columns: 1fr 2fr; /* 1fr for logoWeb, 2fr for login */
    align-items: center;
    padding: 2%; /* Use percentage-based padding for flexibility */
    margin-top: 0vw;
}

#logoWeb {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center;
}

#logoWeb img {
    max-height: 15vw; /* Use viewport width for responsive image height */
    border-radius: 50%;
}

#websiteName {
    font-size: 3vw;
    font-family: 'Poppins', sans-serif;
    color: black; /* Adjust text color as needed */
}

#login {
    display: flex;
    flex-direction: column;
    padding: 2%; /* Use percentage-based padding for flexibility */
    color: black; /* Adjust text color as needed */
}

#login form {
    margin: 0;
    width: 100%; /* Ensure the form takes the full width */
}

#loginLabel {
    margin-bottom: 1vw; /* Use viewport units for responsive margin */
    margin-left: 20vw;
    font-family: 'Lato', sans-serif;
    font-size: 1.3vw;
    color: black;
}

#login label {
    display: block;
    font-size: 1.5vw;
    margin-bottom: 1vw; /* Use viewport units for responsive margin */
    font-family: 'Lato', sans-serif;
    color: black; /* Adjust text color as needed */
}

#login input[type="text"],
#login input[type="password"] {
    width: 80%; /* Use percentage-based width for responsiveness */
    padding: 1vw; /* Use viewport units for responsive padding */
    margin-bottom: 1vw; /* Use viewport units for responsive margin */
    border-radius: 10px;
    box-sizing: border-box;
}

#login button {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: left; /* Align the text to the left */
}

.button-icon {
    max-height: 2vw; /* Use viewport units for responsive height */
    margin-left: 1vw; /* Use viewport units for responsive margin */
}

#guestButton {
    margin-top: 0;
    font-size: 1.5vw;
    font-family: 'Lato', sans-serif;
    color: black; /* Adjust text color as needed */
}

#userSettings {
    display: flex;
    flex-direction: column;
    margin-top: 15vh;
    margin-left: 50px;
    margin-right: 25px;
    font-family: 'Lato', sans-serif;
}

label {
    margin-bottom: 20px;
    color: black;
    font-size: 1.3vw;
}

#quizDuration,
#questionRandomness {
    width: 50%;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #f0f0f0;
    padding: 13px;
    border-radius: 10px;
}

input[type="submit"] {
    width: 6%;
    padding: 12px;
    border-radius: 10px;
    margin-top: 10px;
    box-sizing: border-box;
    cursor: pointer;
    background-color: #BDC6EB;
}











    