/* index.jsp */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

#header,
#footer {
    background: linear-gradient(to right, #003f67, #1b81c2);
    height: 50px;
}

#container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
}

#logoWeb {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center;
    margin-left: 100px;
}

#logoWeb img {
    max-height: 200px; /* Adjust the height as needed */
    border-radius: 50%;
}

#websiteName {
    font-size: 1.5em;
    color: black; /* Adjust text color as needed */
}

#login {
    display: flex;
    flex-direction: column;
    margin-right: 450px;
    padding: 20px;
    color: black; /* Adjust text color as needed */
}

#login form {
    margin: 0;
    width: 100%; /* Ensure the form takes the full width */
}

#loginLabel {
    margin-bottom: 10px;
    margin-left: 180px;
    color: black;
}

#login label {
    display: block;
    margin-bottom: 5px;
    color: black; /* Adjust text color as needed */
}

#login input[type="text"],
#login input[type="password"] {
    width: 170%; /* Adjust the width as needed */
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-sizing: border-box;
}

#login button {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    text-align: left; /* Align the text to the left */
}

.button-icon {
    max-height: 24px; /* Adjust the height as needed */
    margin-left: 5px; /* Adjust the spacing between text and image */
}

#guestButton {
    margin-top: 10px;
    color: black; /* Adjust text color as needed */
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
    